<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="procName" value="SisHmi" />
    <add key="uri" value="http://128.131.136.4/file/sishmi.zip" />
    <add key="uri2" value="http://192.168.79.46/file/sishmi.zip" />
  </appSettings>  
</configuration>